<div id="chat-box">
    <div class="content">
        <div class="contact-profile">
            <img src="assets/raccoonChatAvatarOther.png" alt="raccoonAvatar" />
            <p class = "chat">Zone de clavardage</p>
            <button mat-button (click)="onClose()">
                <mat-icon class="small-icon">close</mat-icon>
            </button>
        </div>
        <div class="messages">
            <ul>
                <li [class]="messageItem.tag" *ngFor="let messageItem of messages">
                    <img *ngIf="messageItem.tag === 'Sent'" src="assets/raccoonChatAvatar.png" alt="raccoonAvatar" />
                    <img *ngIf="messageItem.tag === 'Received'" src="assets/raccoonChatAvatarOther.png" alt="raccoonAvatar" />
                    <p>{{ messageItem.userName }}</p>
                    <p>{{ messageItem.message }}</p>
                </li>
            </ul>
        </div>
        <div class="message-input">
            <div class="wrap">
                <input id = "input" type="text" #inputText placeholder="Entrez un message" (keyup.enter)="onAdd(inputText)" maxlength="200" />
                <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                <button mat-button class="submit" (click)="onAdd(inputText)" [routerLink]="'/login'" routerLinkActive="router-link-active">
                    <mat-icon class="small-icon">near_me</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
