<div class="container">
    <form [formGroup]="registrationForm">
        <h1>Inscription</h1>
        <div class="form-control">
            <label for="avatar">Avatar</label>
            <div class="form-avatar">
                <img [src]="welcomeService.selectAvatarRegister" class="avatar" alt="image">
                <button mat-icon-button class="photo_library" (click)="openAvatarDialog(true)">
                    <mat-icon>photo_library</mat-icon>
                </button>
                <button mat-icon-button class="file_upload" (click)="openAvatarDialog(false)">
                    <mat-icon>file_upload</mat-icon>
                </button>
            </div>
        </div>
        <div class="form-control">
            <label for="username">
                Nom d'utilisateur
                <mat-icon matTooltip="Génerer un nom d'utilisateur" (click)="openNameGenerationDialog()" class="icon">help</mat-icon>
            </label>
            <input formControlName="username" id="username" [(ngModel)]="username"/>
            <label *ngIf="!username" class="error">Le champ est vide</label>
        </div>
        <div class="form-control">
            <label for="email">Courriel</label>
            <input formControlName="email" id="email" [(ngModel)]="email"/>
            <label *ngIf="!validation.isEmailValid(email)" class="error">Le courriel n'est pas valide</label>
        </div>
        <div class="form-control">
            <label for="password">Mot de passe</label>
            <input formControlName="password" type="password" id="password" [(ngModel)]="password" (input)="validation.updatePasswordStrength(password)"/>
            <label for="password" class="password-strength">Force du mot de passe : {{this.validation.passwordStrength}} </label>
        </div>
        <div class="form-control">
            <label for="password">Confirmation du mot de passe</label>
            <input formControlName="password" type="password" id="password" [(ngModel)]="confirmedPassword"/>
            <label *ngIf="password !== confirmedPassword" class="error">Le mot de passe doit être similaire</label>
        </div>
        <button routerLink="/login">Revenir à la page de connexion</button>
        <button type="submit" (click)="onSubmit()">Créer un compte</button>
        <p class="feedback" >{{ feedback }}</p>
    </form>
    <img id = "background" src = "./assets/background/MenuBackground.jpg" alt="background"/>
</div>
