<div class = "container">
    <h1 class="title">PolyDiff</h1>
    <form *ngIf="!isCode" [formGroup]="recoverCode">
        <h1>Récuperation de code</h1>
        <div class="form-control">
            <label for="recoverCode">Code de récupération</label>
            <input formControlName="code" id="password" />
        </div>
        <button  type="submit" (click)="onSubmitCode()">Confirmer</button>
        <button routerLink="/login">Annuler</button>
    </form>
    <form *ngIf="isCode" [formGroup]="recoverPasswordForm">
        <h1>Récuperation de mot de passe</h1>
        <div class="form-control">
            <label for="password">Mot de passe</label>
            <input formControlName="password" id="password" type="password"/>
        </div>
        <div class="form-control">
            <label for="confirmPassword">Confirmer votre mot de passe</label>
            <input formControlName="confirmPassword" id="confirmPassword" type="password"/>
        </div>
        <button  type="submit" (click)="onSubmit()">Confirmer</button>
        <button routerLink="/login">Annuler</button>
    </form>
<img id = "background" src = "./assets/background/MenuBackground.jpg" alt="background"/>
</div>
