<div *ngIf="welcomeService.isLinkValid">
<form [formGroup]="recoverPasswordForm">
    <h1>Récuperation de mot de passe</h1>
    <div class="form-control">
        <label for="password">Mot de passe</label>
        <input formControlName="password" id="password" type="password"/>
    </div>

    <div class="form-control">
        <label for="confirmPassword">confirmer votre mot de passe</label>
        <input formControlName="confirmPassword" id="confirmPassword" type="password"/>
    </div>
    <button  type="submit" (click)="onSubmit()">Confirmer</button>
    <button routerLink="/login">Annuler</button>
</form>
</div>

<div *ngIf="!welcomeService.isLinkValid">
    <h2>Mot de passe déjà réinstalisé</h2>
    </div>
<!-- <img id = "background" src = "./assets/background/MenuBackground.jpg" alt="background"/> -->
