<div id="game-page" class="justified">
    <div  class="game-infos information-header justified">
        <h1 id = "title">{{ gameLobby.name }}</h1>
         <div class="game-feedback">
            <!-- <mat-icon class="personIcon">person</mat-icon>
            <h1>{{  }} Différences trouvées : {{ differencesFound }}</h1>
            &nbsp;
            <h1>Temps : {{ timer * 1000 | date: 'mm:ss' }}</h1>
            &nbsp;
            <mat-icon *ngIf="isMultiplayerMode()" class="personIcon">person</mat-icon>
            <h1 *ngIf="isMultiplayerMode()">
                {{ player === players.player1.name ? players.player2?.name : players.player1.name }} &nbsp;
                <span *ngIf="gameManager.lobbyWaiting.mode === gameModes.Classic"> Différences trouvées :{{ opponentDifferencesFound }}</span>
            </h1> -->
            <h1>Temps : {{ timer * 1000 | date: 'mm:ss' }}</h1>
        </div>
        <!-- <app-game-infos [isReplayAvailable]="isReplayAvailable" [game]="game"></app-game-infos> -->
    </div>
    <div class="canvas-container">
        <div class="game-canvas">
            <canvas
                id="originalCanvasPlayerOne"
                [attr.height]="canvasSize.height"
                [attr.width]="canvasSize.width"
                #originalCanvasPlayerOne
                (click)="mouseClickOnCanvas($event, true)"
            ></canvas>
            <canvas
                id="originalCanvasPlayerTwo"
                [attr.height]="canvasSize.height"
                [attr.width]="canvasSize.width"
                #originalCanvasPlayerTwo
                (click)="mouseClickOnCanvas($event, true)"
            ></canvas>
            <canvas *ngIf=" this.gameManager.lobbyWaiting.players && this.gameManager.lobbyWaiting.players.length===3"
            id="originalCanvasPlayerThree"
            [attr.height]="canvasSize.height"
            [attr.width]="canvasSize.width"
            #originalCanvasPlayerThree
            (click)="mouseClickOnCanvas($event, true)"
        ></canvas>
        <canvas *ngIf=" this.gameManager.lobbyWaiting.players && this.gameManager.lobbyWaiting.players.length === 4"
            id="originalCanvasPlayerFour"
            [attr.height]="canvasSize.height"
            [attr.width]="canvasSize.width"
            #originalCanvasPlayerFour
            (click)="mouseClickOnCanvas($event, true)"
        ></canvas>
        </div>
        <div class="game-canvas">
            <canvas
                id="modifiedCanvasPlayerOne"
                [attr.height]="canvasSize.height"
                [attr.width]="canvasSize.width"
                #modifiedCanvasPlayerOne
                (click)="mouseClickOnCanvas($event, false)"
            ></canvas>
            <canvas
                id="modifiedCanvasPlayerTwo"
                [attr.height]="canvasSize.height"
                [attr.width]="canvasSize.width"
                #modifiedCanvasPlayerTwo
                (click)="mouseClickOnCanvas($event, false)"
            ></canvas>
            <canvas *ngIf=" this.gameManager.lobbyWaiting.players && this.gameManager.lobbyWaiting.players.length===3"
            id="modifiedCanvasPlayerThree"
            [attr.height]="canvasSize.height"
            [attr.width]="canvasSize.width"
            #modifiedCanvasPlayerThree
            (click)="mouseClickOnCanvas($event, false)"
        ></canvas>
        <canvas *ngIf=" this.gameManager.lobbyWaiting.players && this.gameManager.lobbyWaiting.players.length===4"
            id="modifiedCanvasPlayerFour"
            [attr.height]="canvasSize.height"
            [attr.width]="canvasSize.width"
            #modifiedCanvasPlayerFour
            (click)="mouseClickOnCanvas($event, false)"
        ></canvas>
        </div>
    </div>

    <app-chat-box class="chat-box" (addGame)="this.sendMessage($event)" [messages]="messages"></app-chat-box>

    <button *ngIf="!isReplayAvailable" class="importantButton justified" (click)="showAbandonDialog()">
        <span id="abandon">Abandonner la partie</span>
    </button>
    <span></span>
</div>
 <!-- <img id="background" src="./assets/background/BackgroundImage.jpg" alt="background" /> -->
<div *ngIf="game">
    <!-- <app-chat-box (add)="addRightSideMessage($event)" [messages]="messages" [isReplaying]="isReplayAvailable" [gameMode]="game.mode"></app-chat-box> -->
    <app-replay-buttons [isReplayAvailable]="isReplayAvailable"></app-replay-buttons>
</div>

