<div id="game-page" class="justified">
    <div  class="game-infos information-header justified">
        <h1 id = "title">{{ gameLobby.name }}</h1>
            <div class="game-feedback">
                <h1>Mode : {{ lobby.mode }}</h1>
                &nbsp;
                <h1>Différences trouvées : {{ nDifferencesFound }}</h1>
                &nbsp;
                <h1 *ngIf="this.getMode() !== '/practice'">Temps écoulé : {{ timer * 1000 | date: 'mm:ss' }}</h1>
                &nbsp;
                <div *ngIf="lobby.players.length > 0" id="players">
                    <h1 *ngFor="let player of lobby.players">
                        <span> {{player.name}} : {{player.count}}</span>
                    </h1>
                </div>
            </div>
        <!-- <app-game-infos [isReplayAvailable]="isReplayAvailable" [game]="gameLobby"></app-game-infos> -->
    </div>
    <div class="canvas-container">
        <div class="game-canvas">
            <canvas
                id="originalFG"
                [attr.height]="canvasSize.height"
                [attr.width]="canvasSize.width"
                #originalCanvasFG
                (click)="mouseClickOnCanvas($event, true)"
            ></canvas>
            <canvas
                id="original"
                [attr.height]="canvasSize.height"
                [attr.width]="canvasSize.width"
                #originalCanvas
                (click)="mouseClickOnCanvas($event, true)"
            ></canvas>
        </div>
        <app-chat-box class="chat-box" (addGame)="this.sendMessage($event)" [messages]="messages"></app-chat-box>
        <div class="game-canvas">
            <canvas
                id="modifiedFG"
                [attr.height]="canvasSize.height"
                [attr.width]="canvasSize.width"
                #modifiedCanvasFG
                (click)="mouseClickOnCanvas($event, false)"
            ></canvas>
            <canvas
                id="modified"
                [attr.height]="canvasSize.height"
                [attr.width]="canvasSize.width"
                #modifiedCanvas
                (click)="mouseClickOnCanvas($event, false)"
            ></canvas>
        </div>
    </div>
    <button *ngIf="!isReplayAvailable && getMode() !== '/practice'" class="importantButton justified" (click)="showAbandonDialog()">
        <span id="abandon">Abandonner la partie</span>
    </button>
</div>
<div *ngIf="!welcome.onChatGame">
    <app-chat-box (addGame)="this.sendMessage($event)" [messages]="messages"></app-chat-box>
</div>
<div *ngIf="welcome.onChatGame">
    <app-chat-box (add)="this.sendMessageGlobal($event)" [messages]="messageGlobal"></app-chat-box>
</div>
 <img id="background" src="./assets/background/BackgroundImage.jpg" alt="background" />
<div>
    <!-- <app-chat-box (add)="addRightSideMessage($event)" [messages]="messages" [isReplaying]="isReplayAvailable" [gameMode]="game.mode"></app-chat-box> -->
    <app-replay-buttons [isReplayAvailable]="isReplayAvailable"></app-replay-buttons>
</div>


