@import url('https://fonts.cdnfonts.com/css/troika-2');

body {
    background-image: url('../../../assets/LimitedTimeBackground.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.header {
    display: flex;
    justify-content: flex-end;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-creer {
    width: 50px;
    margin-top: -70px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    top: 430px;
    position: absolute;
    z-index: 1;
    font-family: 'Troika', sans-serif;
    font-size: 40px;
    animation: titleFadeIn 0.5s ease-in-out;
}

#image {
    position: absolute;
    top: 220px;
    left: 50.7%;
    transform: translateX(-50%);
    width: 32.5%;
    height: 25%;
}

.create-button {
    top: 100px;
    cursor: pointer;
    position: relative;
    text-align: center;
    font-family: 'Troika', sans-serif;
    font-size: 40px;
    width: auto;
    height: auto;
    margin-bottom: 40px;
    text-transform: uppercase;
    transition: 0.5s;
    color: rgba(253, 250, 151, 255);
    border: none;
    border-radius: 25px;
    background-color: #e8a430;
    animation: titleFadeIn 1.5s ease-in-out;
    z-index: 1;
}

.button-creer {
    top: 500px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-align: center;
    font-family: 'Troika', sans-serif;
    font-size: 40px;
    margin: 0 20px 20px 20px;
    width: 500px;
    height: 150px;
    text-transform: uppercase;
    transition: 0.5s;
    color: rgba(253, 250, 151, 255);
    border: none;
    border-radius: 40px;
    border-color: #5cbf99;
    background-color: #5cbf99;
    animation: titleFadeIn 1.5s ease-in-out;
    z-index: 1;
    margin-top: -400px;
}

#mode {
    position: absolute;
    z-index: 2;
    left: 100px;
    top: 200px;
}

#text-mode {
    left: 100px;
}

#connected {
    position: absolute;
    z-index: 2;
    left: 960px;
    top: 200px;
}

#text-connected {
    left: 100px;
}

#join {
    width: 500px;
}

#solo {
    position: absolute;
    z-index: 2;
    left: 75px;
    top: 85px;
}

#coop {
    position: absolute;
    z-index: 2;
    left: 40px;
    top: 85px;
}

button:hover {
    background-color: #5cbf99;
    color: black;
    transform: scale(1.05);
}

app-nav-bar {
    float: right;
    font-family: 'Troika', sans-serif;
    font-size: 20px;
    position: relative;
    right: 480px;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.button-container button {
    margin-bottom: 0;
    margin-left: 0;
    background-color: rgb(158, 19, 19);
    color: #fff;
    padding: 8px 24px;
    border-radius: 4px;
    border: 1px solid #000000;
    font-size: 2.8rem;
    cursor: pointer;
    width: auto;
    z-index: 100000000000000000000000000000000000000000;
}

button:hover {
    background: rgb(94, 8, 8);
}
