<body [ngClass]="{'light': welcome.account.profile.desktopTheme.name === 'Light', 'dark': welcome.account.profile.desktopTheme.name === 'Dark'}">
    <div class="container flex-column">
        <div class="header">
            <app-nav-bar id="nav-bar"></app-nav-bar>
        </div>
        <button mat-raised-button class="create-button" routerLink="/selection">
            <span>{{'roomSheet.createRoom' | translate }}</span>
        </button>
        <div *ngFor="let lobby of pagedLobbies">
            <div *ngIf="lobby.mode === gameModes.Classic">
                <app-room-sheet [lobby]="lobby"></app-room-sheet>
            </div>
        </div>
        <div class="button-container">
            <button (click)="previousPage()" *ngIf="currentPage > 0">{{'button.previous' | translate }}</button>
            <button (click)="nextPage()" *ngIf="(lobbies.length / pageSize) - 1 > currentPage ">{{'button.following' | translate }}</button>
        </div>
    </div>
</body>

