<img id="background" src="./assets/background/MenuBackground.jpg" alt="background" />
<div class="main">
    <div class="nav-bar-container">
        <app-nav-bar id="nav-bar"></app-nav-bar>
    </div>
    <div class="container">
        <div class="chat-part">
            <app-chat-box (addLobby)="this.sendMessage($event)" [messages]="messages"></app-chat-box>
        </div>
        <div class="player-part">
            <div class="player-count"> 
                <p> {{ getPlayers().length }}/4 joueurs présents </p> 
            </div>
            <div class="waiting-text">
                <p> Joueur(s) en attente : </p>
            </div>
            <div class="players">
                <div class="player" *ngFor="let player of getPlayers()">
                    <img src="{{'http://localhost:3000/avatar/' + player.accountId + '.png'}}" >
                    <p>Joueur: {{ player.name }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="button-container">
        <button (click)="onStart()" *ngIf="roomManagerService.isOrganizer && getPlayers().length>=2" type="submit">Commencer la partie</button>
        <button (click)="onQuit()" type="submit">Quitter</button>
    </div>
</div>
