<div class="selectionComponent">
    <div class="header">
        <app-nav-bar id="nav-bar"></app-nav-bar>
    </div>
    <div class="container">
        <div class="left">
            <app-chat-box (addLobby)="sendMessage($event)" [messages]="messages"></app-chat-box>
        </div>
        <div class="right">
            <div class="player-count"> {{lobby.players.length}}/4 joueurs présents</div>
            <div class="element">
                <div class="players-list">
                    <div>
                        <p class="waiting-text"> Joueur(s) en attente : </p>
                        <div class="player-container">
                            <div class="players" *ngFor="let playerName of lobby.players">
                                <p class="player">Joueur: <span class="player-name">{{ playerName.name }}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="button-container">
            <button *ngIf="roomManagerService.isOrganizer" type="submit">Commencer la partie</button>
        </div>
        <img id="background" src="./assets/background/MenuBackground.jpg" alt="background" />