<div class="container flex-column">
    <div>
        <app-nav-bar> </app-nav-bar>
    </div>
    <img *ngIf="welcome.account.profile.desktopTheme.name==='Light'" id = "background" src = "./assets/background/SelectionBackground.jpg" alt="background"/>
    <img  *ngIf="welcome.account.profile.desktopTheme.name==='Dark'" id = "background" src = "./assets/background/selection_background_dark.jpg" alt="background"/>
    <div class="flex-column">
        <button class="settings-button">
            <span id = "classic">{{'createRoom.time' | translate }} : </span>
            <mat-slider color="warn" thumbLabel [displayWith]="formatLabelTime.bind(this)" tickInterval="1" min="30" max="70000"></mat-slider>
        </button>
        <div *ngIf="!onVerifyClassic()">
            <button class="settings-button">
                <span id = "classic">Bonus : </span>
                <mat-slider color="warn" thumbLabel [displayWith]="formatLabelBonusTime.bind(this)" tickInterval="1" min="10" max="20"></mat-slider>
            </button>
        </div>
        <button class="settings-button">
            <span id="classic">{{'createRoom.cheatMode' | translate }} : </span>
            <mat-checkbox id="config" color="warn" [(ngModel)]="isCheatModeEnabled"></mat-checkbox>
        </button>
        <button class="settings-button">
            <span id="classic">{{'createRoom.password' | translate }} : </span>
            <input matInput type="password" placeholder="Veuillez entrer votre mot de passe" [(ngModel)]="password">
        </button>
    </div>
    <footer class="footer flex-column">
        <button class="button">
            <span id="classic" routerLink="/waiting-room" (click)="onSubmit()">{{'createRoom.createRoom' | translate }}</span>
        </button>
    </footer>
</div>
