@import url('https://fonts.cdnfonts.com/css/troika-2');

body {
    background-image: url('../../../assets/LimitedTimeBackground.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.flex-column {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: flex-end;
}

app-nav-bar {
    float: right;
    font-family: 'Troika', sans-serif;
    font-size: 20px;
    position: relative;
    right: 480px;
}

.create-button {
    top: 100px;
    cursor: pointer;
    position: relative;
    text-align: center;
    font-family: 'Troika', sans-serif;
    font-size: 40px;
    width: auto;
    height: auto;
    margin-bottom: 40px;
    text-transform: uppercase;
    transition: 0.5s;
    color: rgba(253, 250, 151, 255);
    border: none;
    border-radius: 25px;
    background-color: #e8a430;
    animation: titleFadeIn 1.5s ease-in-out;
    z-index: 1;
}

button:hover {
    background-color: #5cbf99;
    color: black;
    transform: scale(1.05);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    position: absolute;
    width: 100%;
    bottom: 0;
}
