<div class="container flex-column">
    <div class="header">
        <app-nav-bar id ="nav-bar"></app-nav-bar>
    </div>
    <img id = "background" src = "./assets/LimitedTimeBackground.jpg" alt="background"/>
    <section id="server-message" class="flex-column section">
        <!-- <h2>Choisis ton mode de jeu en temps limité :</h2> -->
        <div class="flex-row">
            <button mat-raised-button class="button" id="connected" (click)="playLimited(gameModes.LimitedSolo)">
                <span id = "text-connected">Nombre de joueurs connectés : {{nPlayersConnected}}/4</span>
            </button>
            <button mat-raised-button class="button" id="mode" (click)="playLimited(gameModes.LimitedSolo)">
                <span id = "text-mode">Mode temps limté</span>
            </button>
            <button mat-raised-button class="button" routerLink="/selection">
                <span id = "solo">Créer une salle</span>
            </button>
            <button mat-raised-button  id="join" class="button" (click)="manageGames()">
                <span id = "coop">Rejoindre une salle</span>
            </button>
        </div>
    </section>
</div>
