<div class="container flex-column">
    <div>
        <app-nav-bar> </app-nav-bar>
    </div>
    <header class="header">
        <h1 class="header-item flex-column">Bienvenue</h1>
    </header>
    <img id = "background" src = "./assets/background/MenuBackground.jpg" alt="background"/>
    <div class="flex-column">
        <button class="button" routerLink="/game-mode">
            <span id = "limited">Modes de jeu</span>
        </button>
        <button class="button" routerLink="/chat">
            <span id = "classic">Chat</span>
        </button>
        <button class="button" (click)="manageGames()">
            <span id = "config">Admin</span>
        </button>
    </div>

    <footer class="footer flex-column">
        <div *ngIf="rankedPlayers.length > 0" class="ranking">
            <div class="scroll-container">
                <div class="rankedPlayer" *ngFor="let rankedPlayer of rankedPlayers">
                    <p>{{rankedPlayer.rank}}. {{rankedPlayer.name}}</p>
                    <img src="{{'http://localhost:3000/avatar/' + rankedPlayer.accountId + '.png'}}">
                </div>
            </div>
        </div>
        <div class="ranking" *ngIf="rankedPlayers.length <= 0" >
            <div class="loading">
                <p>Loading ...</p>
            </div>
        </div>
    </footer>
</div>
