<div class="container flex-column">
    <!-- <img id = "background" src = "./assets/background/MenuBackground.jpg" alt="background"/>    -->
    <header class="header">
    </header>
    <div>
        <h1>Menu</h1>
        <button routerLink="/chat">Chat</button>
        <button routerLink="/login">Login</button>
        <button routerLink="/registration">Registration</button>
        <button routerLink="/recover-password">Recover Password</button>
    </div>

    <footer class="footer flex-column">
    </footer>
</div>


