<div class="container">
  <ul class="navBar">
    <li class="navElement"><a [routerLink]="homeRoute"> <mat-icon>home</mat-icon>&nbsp;{{'navBar.home' | translate }}</a></li>
    <li class="navElement"><a [routerLink]="chatRoute"><mat-icon>chat icon</mat-icon>&nbsp;{{'navBar.messageChannel' | translate }}</a></li>
    <li class="navElement"><a [routerLink]="friendsRoute"><mat-icon>diversity_3</mat-icon>&nbsp;{{'navBar.friends' | translate }}</a></li>
    <li class="navElement"><a (click)="goProfile()"><mat-icon>person</mat-icon>&nbsp;{{'navBar.account' | translate }}</a></li>
    <mat-menu #menu="matMenu" class="custom-menu">
        <button mat-menu-item (click)="goProfile()">{{'navBar.account' | translate }}</button>
        <button mat-menu-item routerLink="/personalization">{{'button.Settings' | translate }}</button>
        <button mat-menu-item (click)="onSubmitHome()">{{'button.deconnexion' | translate }}</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="menu" class="button-back" >
      <img [src]="welcomeService.account.profile.avatar" alt="Image" style="width: 50px; height: 50px; margin-right: 8px; border-radius: 50px;">
      <mat-icon style="transform: rotate(180deg);">arrow_drop_up</mat-icon>
    </button>
  </ul>
</div>
