<ul class="navBar">
    <li  class="navElement"><a (click)="console()" [routerLink]="homeRoute"> <mat-icon>home</mat-icon>&nbsp;Accueil</a></li>
    <li class="navElement"><a [routerLink]="chatRoute"><mat-icon>chat icon</mat-icon>&nbsp;Clavardage</a></li>
    <li class="navElement"><a [routerLink]="profileRoute"><mat-icon>person</mat-icon>&nbsp;Profil</a></li>
    <li class="navElement"><a [routerLink]="friendsRoute"><mat-icon>people</mat-icon>&nbsp;Amis</a></li>
    <li class="navElement"><a [routerLink]="gameModeRoute"><mat-icon>videogame_asset</mat-icon>&nbsp;Jouer</a></li>
    <li class="navElement"><a [routerLink]="configRoute"><mat-icon>build</mat-icon>&nbsp;Configuration</a></li>
</ul>
