@import url('https://fonts.cdnfonts.com/css/troika-2');

::ng-deep .dialog .mat-dialog-container {
    height: 0px;
    width: 0px;
    background: none;
    box-shadow: none;
    padding: 0;
}

.player-count {
    font-size: 60px; /* Ajustez cette valeur pour la taille du texte */
    font-weight: bold;
    margin-bottom: 90px; /* Ajustez cette valeur pour l'espace vertical */
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.button-container button {
    font-size: 100px;
    margin-bottom: 200px;
    margin-left: 1700px;
    background-color: rgb(158, 19, 19);
    color: #fff;
    padding: 8px 24px;
    border-radius: 4px;
    border: 1px solid #000000;
    width: 100%;
    font-size: 2.8rem;
    cursor: pointer;
}

.left app-chat-box {
    width: 500px; /* Ajustez la largeur selon vos besoins */
    height: 300px; /* Ajustez la hauteur selon vos besoins */
}

button:hover {
    background: rgb(94, 8, 8);
}

// button {
//     margin-bottom: 10px;
//     margin-left: 300px;

// }

.player {
    font-size: 20px; /* Ajustez cette valeur pour la taille du texte */
}

.element {
    border: 3px #000000 solid;
    padding: 100px;
    min-height: 200px;
}

.element div div {
    margin-bottom: 30px; /* Ajustez cette valeur pour contrôler l'espace entre les joueurs */
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left {
    margin-right: 300px;
}

.right {
}

.dialog-image {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 1;
    width: 50%;
    height: 30%;
    animation: pop-in 0.5s ease-out forwards;
}

.dialog-image2 {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 1;
    width: 50%;
    height: 50%;
    animation: pop-in 0.5s ease-out forwards;
}

@keyframes pop-in {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

#waiting {
    position: absolute;
    z-index: 2;
    font-family: 'Troika', sans-serif;
    font-size: 35px;
    width: 600px;
    bottom: 60%;
    left: 30%;
    color: black;
}

#waiting2 {
    position: absolute;
    z-index: 2;
    font-family: 'Troika', sans-serif;
    font-size: 30px;
    width: 730px;
    bottom: 45%;
    left: 30%;
    line-height: 50px;
    color: black;
}

.button1 {
    position: absolute;
    left: 57%;
    bottom: 53%;
}

.button2 {
    position: absolute;
    left: 55%;
    bottom: 35%;
}

.cancel {
    position: absolute;
    z-index: 2;
    bottom: 35%;
    left: 2%;
    width: 338px;
    height: 99px;
    opacity: 0;
}

.button-container {
    position: relative;
    width: 300px;
    height: 150px;
    margin-right: 40px;
    z-index: 2;
}

.button-container img {
    position: absolute;
    top: 0;
    left: 5%;
    width: 70%;
    height: 70%;
    transition: all 0.3s ease;
}

.button-container:hover img {
    filter: drop-shadow(10px 10px 10px black);
}

.button-container .centered-yes {
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 65%;
    transform: translate(-66%, -150%);
    text-align: center;
    width: 450px;
    color: white;
    font-family: 'Troika', sans-serif;
}

.loading {
    position: absolute;
    z-index: 2;
    left: 38%;
    bottom: 24%;
}
