<div class="infos-container" >
    <p id = "waiting"> {{'friendPage.friendsList' | translate }}.</p>
    <div class="modal">
    <div class = "players-list">
    <div *ngFor="let friend of welcome.account.profile.friends; let last = last" class="separator">
        <div class = "waiting-text">
        <!-- <mat-form-field class="full-width-field"> -->
           <div class="form-avatar">
               <img [src]="'http://localhost:3000:3000/avatar/' + friend.accountId + '.png'" alt="Image" style="width: 100px; height: 100px; border-radius: 16px;">
             </div>
               <span class="name">{{ friend.name }}</span>
               <div   class="details">
                <button mat-icon-button >
                 <mat-icon (click)="onShare(friend.accountId)" class="icone favorite-icon">share</mat-icon>
                </button>
            </div>
               <span *ngIf="!last"></span>
            </div>
       <!-- </mat-form-field> -->
    </div>   </div>
   <!-- <button mat-icon-button >
    <button mat-dialog-close routerLink="/home" class="icone favorite-icon">Fermer</button>
   </button> -->
</div>
</div>
<mat-dialog-actions class="dialog-actions">
<div class = "button2" >
    <div class="button-container">
    <button class = "noButton"  mat-dialog-close routerLink="/home"></button>
        <img src="./assets/icon/CreateButton.png" alt="notAbandonButton" >
        <div class="centered-no">{{'creationGame.quit' | translate }}</div>
    </div>
</div>
</mat-dialog-actions>

 <img src="./assets/gameSheet.png" class="dialog-image" alt="popup">
