@import url('https://fonts.cdnfonts.com/css/troika-2');

::ng-deep .mat-dialog-container {
    max-width: 1400px;
    width: 1400px;
    max-height: 600px;
    height: 600px;
}

.icone {
    position: absolute;
    top: -130px;
    right: -600px;
    font-size: 39px;
    margin: 100px;
    width: 80px;
    height: 80px;
    z-index: 1;
    color: rgba(253, 250, 151, 255);
    -webkit-text-stroke: 0.2px black;
    border: none;
    background-color: #e8a430;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}
