<div class="container flex-column">
    <div>
        <app-nav-bar> </app-nav-bar>
    </div>
    <header class="header">
        <h1 class="header-item flex-column">Choisis ton mode de jeu</h1>
    </header>
    <img id = "background" src = "./assets/background/SelectionBackground.jpg" alt="background"/> 
    <div class="flex-column">
        <button class="button" routerLink="/classic">
            <span id = "classic">Mode Classique</span>
        </button>
        <button class="button" routerLink="/limited">
            <span id = "limited">Mode temps limité</span>
        </button>
        <button class="button" routerLink="/selection">
            <span id = "limited">Mode pratique</span>
        </button>
    </div>

    <footer class="footer flex-column">
    </footer>
</div>