<body>
  <!--     [ngStyle]="{'background-color': (welcomeService.chooseTheme.BackgroundColor), 'color': (welcomeService.chooseTheme.ButtonColor)}"> -->
  <app-nav-bar id ="nav-bar"></app-nav-bar>
  <!-- <app-menu></app-menu> -->
  <div class="information">{{'profil.information' | translate }}</div>
  <div class="container">
    <div class="left">
      <div class="form-control">
        <label for="username">{{'profil.username' | translate }}</label>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="veuillez écrire votre nom" [(ngModel)]="welcomeService.selectName" required>
        </mat-form-field>
        <!-- <input type="text" formControlName="username" id="username"/> -->
      </div>

      <div class="form-control">
        <label for="username"> {{'profil.changePassword' | translate }}</label>
        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" placeholder="veuillez écrire votre mot de passe" [(ngModel)]="welcomeService.selectPassword" required>
        </mat-form-field>
        <!-- <input type="text" formControlName="username" id="username"/> -->
      </div>

      <div class="form-control">
        <label for="username"> {{'profil.confirmePassword' | translate }}</label>
        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" placeholder="veuillez ré-écrire votre mot de passe" [(ngModel)]="welcomeService.selectPasswordConfirm"
            required>
        </mat-form-field>
        <!-- <input type="text" formControlName="username" id="username"/> -->
      </div>


      <div class="form-avatar">
        <label for="avatar">Avatar</label>
        <img [src]="welcomeService.selectAvatar" alt="Image" style="width: 100px; height: 100px;">
        <div style="display: flex; justify-content: space-between;">
          <button mat-icon-button (click)="importDialog(true)"
            style="width: 50px; height: 50px;"><mat-icon>photo_library</mat-icon></button>
          <button mat-icon-button (click)="importDialog(false)" aria-label="Import game"
            style="width: 50px; height: 50px;">
            <mat-icon>file_upload</mat-icon>
          </button>
        </div>
        <!-- <input id='image' type="file" name="image" accept="image/*" style="width: 100px; height: 100px;" autofocus required><br> -->
      </div>


      <div class="form-control">


        <div class="form-control section">
          <label for="Theme">{{'profil.theme' | translate }}</label>
          <mat-form-field>
            <mat-label>{{'profil.theme' | translate }}</mat-label>
            <mat-select [(value)]="welcomeService.selectTheme">
                <mat-select-trigger>
                    {{ welcomeService.selectTheme.name }}
                  </mat-select-trigger>
                <mat-option *ngFor="let theme of welcomeService.themePersonalization" [value]="theme">
                  {{ theme.name }}
                </mat-option>
              </mat-select>
          </mat-form-field>
        </div>


        <div class="form-control section"> <label for="Theme"> {{'profil.language' | translate }}</label>
          <mat-form-field>
            <mat-label>{{'profil.language' | translate }}</mat-label>
            <mat-select [(value)]="welcomeService.selectLanguage" (valueChange)="useLanguage(welcomeService.selectLanguage)">
              <mat-option [value]="welcomeService.language[0]">{{'button.fr' | translate }}</mat-option>
              <mat-option [value]="welcomeService.language[1]">{{'button.en' | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>


    </div>

    <div class="right">
       <div class="form-control section"> <label for="Theme"> {{'profil.songError' | translate }}</label>
        <mat-form-field>
          <mat-label>{{'profil.songError' | translate }}</mat-label>
          <mat-select [(value)]="sound.correctSoundId">
            <mat-select-trigger>
                {{ sound.correctSoundId }}
              </mat-select-trigger>
            <mat-option [value]="welcomeService.soundCorrectList[0]"><mat-icon (mouseover)="sound.play(welcomeService.soundCorrectList[0])" (mouseleave)="sound.stop(welcomeService.soundCorrectList[0])" class="option-icon">headset</mat-icon>{{welcomeService.soundCorrectList[0] }}</mat-option>
            <mat-option [value]="welcomeService.soundCorrectList[1]"><mat-icon (mouseover)="sound.play(welcomeService.soundCorrectList[1])" (mouseleave)="sound.stop(welcomeService.soundCorrectList[1])" class="option-icon">headset</mat-icon>{{welcomeService.soundCorrectList[1] }}</mat-option>
            <mat-option [value]="welcomeService.soundCorrectList[2]"><mat-icon (mouseover)="sound.play(welcomeService.soundCorrectList[2])" (mouseleave)="sound.stop(welcomeService.soundCorrectList[2])" class="option-icon">headset</mat-icon>{{welcomeService.soundCorrectList[2] }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="form-control section"> <label for="Theme"> {{'profil.songDifference' | translate }}</label>
        <mat-form-field>
          <mat-label>{{'profil.songDifference' | translate }}</mat-label>
          <mat-select [(value)]="sound.incorrectSoundId">
            <mat-select-trigger>
                {{sound.incorrectSoundId }}
              </mat-select-trigger>
            <mat-option [value]="welcomeService.soundErrorList[0]">
                <mat-icon (mouseover)="sound.play(welcomeService.soundErrorList[0])" (mouseleave)="sound.stop(welcomeService.soundErrorList[0])" class="option-icon">headset</mat-icon>
                {{ welcomeService.soundErrorList[0] }}
              </mat-option>
              <mat-option [value]="welcomeService.soundErrorList[1]">
                <mat-icon (mouseover)="sound.play(welcomeService.soundErrorList[1])" (mouseleave)="sound.stop(welcomeService.soundErrorList[1])" class="option-icon">headset</mat-icon>
                {{ welcomeService.soundErrorList[1] }}
              </mat-option>
              <mat-option [value]="welcomeService.soundErrorList[2]">
                <mat-icon (mouseover)="sound.play(welcomeService.soundErrorList[2])" (mouseleave)="sound.stop(welcomeService.soundErrorList[2])" class="option-icon">headset</mat-icon>
                {{ welcomeService.soundErrorList[2] }}
              </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>



  <div class="button-container">
    <button type="submit" (click)="onSubmitProfile()">{{'button.returnProfile' | translate }}</button>
    <button type="submit" (click)="onSubmitHome()">{{'button.deconnexion' | translate }}</button>
  </div>

</body>
