<div class="container">
    <app-nav-bar id ="nav-bar"></app-nav-bar>
    <div class="header">
        <h1 *ngIf="router.url === '/selection'">{{'selectionPage.selectGame' | translate }}</h1>
        <h1 *ngIf="router.url === '/admin'">{{'selectionPage.configureGame' | translate }}</h1>
    </div>
    <div *ngIf="gameCarrousel.gameCards"  class="gameCarrouselContainer">
        <app-game-sheet *ngFor="let game of gameCarrousel.gameCards"  [game]="game"></app-game-sheet>
    </div>
    <img *ngIf="welcome.account.profile.mobileTheme==='light'" id = "background" src = "./assets/background/SelectionBackground.jpg" alt="background"/>
    <img  *ngIf="welcome.account.profile.mobileTheme==='dark'" id = "background" src = "./assets/background/selection_background_dark.jpg" alt="background"/>
</div>
<div class="buttonContainer">
    <img id = "previous_button" alt="previousButton" *ngIf="gameCarrousel.hasPrevious" (click)="previousCarrousel()" src = "./assets/icon/previous_button.png"/>
    <img id = "next_button" alt="nextButton" *ngIf="gameCarrousel.hasNext" (click)="nextCarrousel()" src = "./assets/icon/next_button.png"/>
</div>
<p *ngIf="!gameCarrousel.gameCards.length" id="waiting-message">{{'selectionPage.noGameAvailable' | translate }}</p>
<img *ngIf="!gameCarrousel.gameCards.length" id="waiting" src="./assets/raccoonWaiting.gif" alt="waiting-image" />
