<div class="selectionComponent">
    <div class="header">
        <h1 *ngIf="router.url === '/selection'">{{'selectionPage.selectGame' | translate }}</h1>
        <h1 *ngIf="router.url === '/admin'">>{{'selectionPage.configureGame' | translate }}</h1>
        <app-nav-bar id ="nav-bar"></app-nav-bar>
    </div>
    <div class="gameCarrouselContainer">
        <mat-grid-list class="gameCarrousel" cols="4">
            <ng-container  *ngIf="gameCarrousel.gameCards">
                <mat-grid-tile *ngFor="let game of gameCarrousel.gameCards" class="section">
                    <app-game-sheet  [game]="game"></app-game-sheet>
                </mat-grid-tile>
            </ng-container>
        </mat-grid-list>
        <div class="buttonContainer">
            <img id = "previous_button" alt="previousButton" *ngIf="gameCarrousel.hasPrevious" (click)="previousCarrousel()" src = "./assets/icon/previous_button.png"/>
            <img id = "next_button" alt="nextButton" *ngIf="gameCarrousel.hasNext" (click)="nextCarrousel()" src = "./assets/icon/next_button.png"/>
        </div>
    </div>
    <img *ngIf="welcome.account.profile.desktopTheme.name==='Light'" id = "selection" src = "./assets/background/SelectionBackground.jpg" alt="background"/>
    <img  *ngIf="welcome.account.profile.desktopTheme.name==='Dark'" id = "selection" src = "./assets/background/selection_background_dark.jpg" alt="background"/>
</div>
<p *ngIf = "!gameCarrousel.gameCards.length" id = "waiting-message">{{'selectionPage.noGameAvailable' | translate }}</p>
<img *ngIf = "!gameCarrousel.gameCards.length" id = "waiting" src = "./assets/raccoonWaiting.gif" alt = "waiting-image" />
<div *ngIf="router.url === '/selection'" class="footer"></div>
