<form [formGroup]="loginForm">
    <h1>Connexion</h1>
    <div class="form-control">
        <label for="username">Nom d'utilisateur</label>
        <input formControlName="username" id="username"/>
    </div>
    <div class="form-control">
        <label for="password">Mot de passe</label>
        <input formControlName="password" id="password"/>
    </div>
    <button type="submit" (click)="onSubmit()">Se connecter</button>
    <button type="submit" (click)="onSubmit()">Créer un compte</button>
</form>
<img id = "background" src = "./assets/background/MenuBackground.jpg" alt="background"/>   
