<form [formGroup]="loginForm">
    <h1>Connexion</h1>
    <div class="form-control">
        <label for="username">Nom d'utilisateur ou courriel</label>
        <input formControlName="username" id="username"/>
    </div>
    <div class="form-control">
        <label for="password">Mot de passe</label>
        <input formControlName="password" id="password" type="password"/>
    </div>
    <button type="submit" (click)="onSubmit()">Se connecter</button>
    <button routerLink="/recover-password">Mot de passe oublié</button>
    <button routerLink="/registration">Créer un compte</button>
    <p class="feedback">{{ feedback }}</p>
</form>
<img id = "background" src = "./assets/background/MenuBackground.jpg" alt="background"/>   
