<div>
<div class="modal">
    <div class="modal-content">
<h2 mat-dialog-title  class="title">{{'accessModal.accessCode' | translate }}</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label >{{'accessModal.password' | translate }}</mat-label>
    <input  class="title" matInput type="password" placeholder="Code d'accès" (keyup.enter)="onSubmitAccess()" [(ngModel)]="codeAccess" (input)="testPassword()" >
  </mat-form-field>
  <div *ngIf="codeAccess !== lobby.password && submit" class="error-message">{{'accessModal.incorrectPassword' | translate }}.</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button class="submit-button" (click)="onCancel()">{{'accessModal.cancel' | translate }}</button>
  <button mat-button class="submit-button" (click)="onSubmitAccess()">{{'accessModal.confirm' | translate }}</button>
</mat-dialog-actions>
</div>
</div>
</div>
<!-- <div class="modal">
    <div class="modal-content">
        <h2>Entrer le mot de passe d'administration</h2>
        <mat-form-field appearance="fill">
            <mat-label>Mot de passe</mat-label>
            <input matInput type="password" placeholder="1234" [(ngModel)]="password" name="password" />
        </mat-form-field>
        <button mat-raised-button class="submit-button" type="submit" (click)="onSubmit()">Connexion</button>
        <div *ngIf="isPasswordWrong" class="error-message">Mot de passe incorrect. Veuillez réessayer.</div>
    </div>
</div> -->
