<!-- <body>
    <div class="header">
        <app-nav-bar id ="nav-bar"></app-nav-bar>
        </div>
        <div class="icon-container">
            <mat-icon class="icon">person</mat-icon>
            <mat-icon class="icon">person_outline</mat-icon>
            <mat-icon class="icon">person_add</mat-icon>
          </div>

          <section class="friends-container">
            <div class="card-container">
                <mat-card class="friend-card" *ngFor="let friend of friends">
                    <mat-card-header>
                        <mat-card-title class="username">
                            <div class="form-avatar">
                                <img [src]="friend.avatar" alt="Image" style="width: 100px; height: 100px;">
                                <span class="status-indicator"></span>
                              </div>
                            <div class="name">
                                <span>{{ friend.name }}</span>

                            </div>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>

                        <div class="details">
                            <button mat-icon-button >
                             <mat-icon class="icone favorite-icon">favorite</mat-icon>
                            </button>
                        </div>

                        <div>

                            <button mat-icon-button >
                                <mat-icon class="icone-delete">delete</mat-icon>
                            </button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </section>

</body>
<img id = "background" src = "./assets/background/MenuBackground.jpg" alt="background"/> -->
