<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<div>
    <div class="header">
        <div class="nav-bar-container">
            <app-nav-bar id ="nav-bar"></app-nav-bar>
        </div>
            <div class="card-container" *ngIf="records.length !== 0">
                <mat-card class="friend-card" *ngFor="let record of records">
                    <mat-card-header>
                        <mat-card-title class="username">
                            <div class="form-avatar">
                                <img src="{{'http://34.95.3.182:3000/' + record.game.gameId + '/original.bmp'}}" alt="Image" style="width: 152px; height: 114px; border-radius: 10px;">
                              </div>
                            <div class="name">
                                <span>{{ record.game.name }}</span>
                            </div>
                            <div class="play">
                                <button (click)="playRecord(record)"><mat-icon>play_arrow</mat-icon></button>
                            </div>
                            <div class="date">
                                <span>{{ record.date| date: 'longDate' }} at {{ record.date | date: 'shortTime' }}</span>
                            </div>
                            <div class="delete">
                                <button (click)="deleteRecord(record)"><mat-icon>delete</mat-icon></button>
                            </div>
                        </mat-card-title>
                    </mat-card-header>
                </mat-card>
            </div>
            <p *ngIf="records.length === 0" id = "waiting-message">{{'replayPage.noReplayAvailable' | translate }}</p>
            <img *ngIf="records.length === 0" id = "waiting" src = "./assets/raccoonWaiting.gif" alt = "waiting-image" />
<img *ngIf="welcomeService.account.profile.mobileTheme==='light'" id = "background" src = "./assets/background/LimitedTimeBackground.jpg" alt="background"/>
<img  *ngIf="welcomeService.account.profile.mobileTheme==='dark'" id = "background" src = "./assets/background/LimitedTimeBackground_dark.jpg" alt="background"/>
