    <p class = "abandon" *ngIf="data.action === 'Abandon'">{{ data.message }}</p>
    <div class = "button1" *ngIf="data.action === 'Abandon'">
        <div class="button-container">
            <button class = "yesButton" mat-button *ngIf="data.action === 'Abandon'" mat-dialog-close (click)="abandonGame()"></button>
            <img src="./assets/icon/PlayButton.png" alt="abandonButton">
            <div class="centered-yes">{{'dialogGame.yes' | translate }}</div>
        </div>
    </div>
    <div class = "button2" *ngIf="data.action === 'Abandon'">
        <div class="button-container">
        <button class = "noButton" mat-button *ngIf="data.action === 'Abandon'" mat-dialog-close></button>
            <img src="./assets/icon/CreateButton.png" alt="notAbandonButton" >
            <div class="centered-no">{{'dialogGame.no' | translate }}</div>
        </div>
    </div>
    <p class = "ending" *ngIf="data.action === 'EndGame'">{{ data.message }}</p>
    <div class = "button1" *ngIf="data.action === 'EndGame' && !goShare">
        <div class="button-container">
            <button class = "yesButton" mat-button *ngIf="data.action === 'EndGame' " (click)="deleteRecord()"></button>
            <img src="./assets/icon/PlayButton.png" alt="returnToMenuButton">
            <div class="centered-yes">{{'dialogGame.quitGame' | translate }}</div>
        </div>
    </div>
    <p class = "ending" *ngIf="data.action === 'SaveGameRecord'">{{ data.message }}</p>
    <div class = "button1" *ngIf="data.action === 'SaveGameRecord' && !goShare">
        <div class="button-container">
            <button class = "yesButton" mat-button *ngIf="data.action === 'SaveGameRecord' " (click)="saveRecord()"></button>
            <img src="./assets/icon/PlayButton.png" alt="returnToMenuButton">
            <div class="centered-yes">{{'dialogGame.yes' | translate }}</div>
        </div>
    </div>
    <div class = "button2" *ngIf="data.action === 'SaveGameRecord'">
        <div class="button-container">
            <button class = "noButton" mat-button *ngIf="data.action === 'SaveGameRecord'" (click)="deleteRecord()"></button>
                <img src="./assets/icon/CreateButton.png" alt="notAbandonButton" >
                <div class="centered-no">{{'dialogGame.no' | translate }}</div>
        </div>
    </div>

    <div class = "button1" *ngIf="data.action === 'EndGame' && goShare">
        <div class="button-container">
            <button class = "yesButton" mat-button *ngIf="data.action === 'EndGame' " mat-dialog-close (click)="openShareScoreFriend(true)"></button>
            <img src="./assets/icon/PlayButton.png" alt="returnToMenuButton">
            <div class="centered-yes">{{'dialogGame.scoreShare' | translate }}</div>
        </div>
    </div>

    <div class = "button2" *ngIf="data.action === 'EndGame' && goShare">
        <div class="button-container">
            <button class = "noButton" mat-button *ngIf="data.action === 'EndGame' " mat-dialog-close routerLink="/home"></button>
            <img src="./assets/icon/PlayButton.png" alt="returnToMenuButton">
            <div class="centered-yes">{{'dialogGame.home' | translate }}</div>
        </div>
    </div>

    <div class = "button2" *ngIf="data.action === 'EndGame' && data.isReplayMode && !goShare && !isObserver() ">
        <div class="button-container">
        <button class = "noButton" mat-button *ngIf="data.action === 'EndGame'" mat-dialog-close (click)="replay()"></button>
            <img class = 'replayButton' src="./assets/icon/Replay.png" alt="replayButton">
            <div class="centered-no">{{'dialogGame.videoReprise' | translate }}</div>
        </div>
    </div>
    <img src="./assets/icon/woodenPopUp.png" class="dialog-image" alt="popup">
