<div *ngIf="game" class="gameSheet">
    <div class="gameContainer">
        <img class="background"  alt="background-image" src="./assets/background/gameSheet.png" />
        <h1 class="title">{{ game.name }}</h1>
        <img class="thumbnail" [src]="url" alt="track" />
        <div class="gameInfo">
        </div>
        <div class="buttonSection">
            <div class="button-container">
                <button mat-raised-button *ngIf="router.url === '/selection'">Jouer</button>
                <button mat-raised-button *ngIf="router.url === '/admin'" (click)="openConfirmationDialog(actions.DeleteGame)">Supprimer</button>
                <div class="deleteText" *ngIf="router.url === '/admin'">Supprimer</div>
            </div>
            <div class="button-container">
                <button mat-raised-button *ngIf="getMode() !== '/practice'" routerLink="/create-room" (click)="setGameId()">{{"Créer"}}</button>
                <button mat-raised-button *ngIf="getMode() === '/practice'" routerLink="/game" (click)="setGameId()">{{"Jouer"}}</button>
                <button mat-raised-button *ngIf="router.url === '/admin'" (click)="openConfirmationDialog(actions.ResetTopTime)">Réinitialiser</button>
                <img class="createButton" alt="button" src="./assets/icon/CreateButton.png"/>
                <div class="createText" *ngIf="getMode() !== '/practice'">{{"Créer"}} </div>
                <div class="createText" *ngIf="getMode() === '/practice'">{{"Jouer"}}</div>
                <div class="reinitializeText" *ngIf="router.url === '/admin'">Réinitialiser</div>
            </div>
        </div>
    </div>
</div>

