
<div class="main">
    <div class="game-infos">
        <h1 id="title">{{ gameLobby.name }}</h1>
        <div class="game-feedback">
            <h1>Mode : {{ translateGameMode(lobby.mode) }}</h1>
            <h1>{{'game.foundDifference' | translate }} : {{ nDifferencesFound }}</h1>
            <h1 *ngIf="this.getMode() !== '/practice'">{{'game.time' | translate }} : {{ timer * 1000 | date: 'mm:ss' }}</h1>
            <div *ngIf="lobby.players.length > 0" id="players">
                <h1 *ngFor="let player of lobby.players">{{player.name}} : {{player.count}}</h1>
            </div>
        </div>
    </div>
    <div class="canvas-container">
        <div class="game-canvas">
            <canvas
                id="originalFG"
                [attr.height]="canvasSize.height"
                [attr.width]="canvasSize.width"
                #originalCanvasFG
                (click)="!roomManager.isObserver ? mouseClickOnCanvas($event, true) : ''"
            ></canvas>
            <canvas
                id="original"
                [attr.height]="canvasSize.height"
                [attr.width]="canvasSize.width"
                #originalCanvas
                (click)="!roomManager.isObserver ? mouseClickOnCanvas($event, true): ''"
            ></canvas>
        </div>
        <div class="game-canvas">
            <canvas
                id="modifiedFG"
                [attr.height]="canvasSize.height"
                [attr.width]="canvasSize.width"
                #modifiedCanvasFG
                (click)="!roomManager.isObserver ? mouseClickOnCanvas($event, false): ''"
            ></canvas>
            <canvas
                id="modified"
                [attr.height]="canvasSize.height"
                [attr.width]="canvasSize.width"
                #modifiedCanvas
                (click)="!roomManager.isObserver ? mouseClickOnCanvas($event, false): ''"
            ></canvas>
        </div>
    </div>
    <div class="replay">
        <app-replay-buttons [isReplayAvailable]="isReplayAvailable"></app-replay-buttons>
    </div>
    <div class="qandc">   
        <button class="abandon" *ngIf="!isReplayAvailable" (click)="showAbandonDialog()">{{'game.abandon' | translate }}</button>
    </div>
    <div class="eye-icon">
        <h1 *ngIf="lobby.observers.length>0">{{ lobby.observers.length }}</h1>
        <mat-icon *ngIf="this.lobby.mode !== this.gameMode.Practice" [class.eye-open]="lobby.observers.length>0" [class.eye-closed]="lobby.observers.length===0">{{ lobby.observers.length>0 ? 'visibility' : 'visibility_off' }}</mat-icon>
    </div>
  </div>
<img *ngIf="welcome.account.profile.mobileTheme==='light'" id="background" src="./assets/background/BackgroundImage.jpg" alt="background" />
<img *ngIf="welcome.account.profile.mobileTheme==='dark'" id="background" src="./assets/background/game_background_dark.png" alt="background"/>


