<div class="modal">
      <div class="modal-content">
        <h2 mat-dialog-title class="title">{{'adminModal.adminPassword' | translate }}</h2>
        <mat-dialog-content>
          <mat-form-field>
            <mat-label>{{'adminModal.password' | translate }}</mat-label>
            <input matInput (keyup.enter)="onSubmit()" [(ngModel)]="password" style="color: black">
          </mat-form-field>
          <div *ngIf="isPasswordWrong" class="error-message">{{'adminModal.incorrectPassword' | translate }}.</div>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
          <button mat-button class="submit-button" type="submit" (click)="onCancel()"><p class="title">{{'adminModal.cancel' | translate }}</p></button>
          <button mat-button class="submit-button" type="submit" (click)="onSubmit()"><p class="title">{{'adminModal.confirm' | translate }}</p></button>
        </mat-dialog-actions>
  </div>
</div>


