<div class="container">
    <h1 class="title">PolyDiff</h1>
    <form [formGroup]="recoverPasswordForm">
        <h1>Récuperation de mot de passe</h1>
        <div class="form-control">
            <label for="email">Nom d'utilisateur ou courriel</label>
            <input formControlName="email" id="email"/>
        </div>
        <button routerLink="/login">Revenir à la page de connexion</button>
        <button type="submit" (click)="onSubmit()">Recevoir un code</button>
    </form>
    <img id = "background" src = "./assets/background/MenuBackground.jpg" alt="background"/>
</div>